:root {
  --gray: rgb(231, 231, 231);
  --mediumGray: rgb(200, 200, 200);
  --darkGray: rgb(100, 100, 100);
  --white: rgb(245, 245, 245);
  --purple: rgb(120, 77, 155);
  --orange: rgb(244, 137, 55);
  --red: rgb(235, 46, 74);
  --blue: rgb(38, 171, 226);
  --yellow: rgb(253, 213, 8);
  --green: rgb(31, 177, 91);
}

body {
  display: flex;
  background: var(--gray);
}

main {
  display: flex;
  width: 100vw;
}

.card-0,
.card-1,
.card-2 {
  display: flex;
  flex-direction: column;
  width: 17rem;
  margin: 0.5rem;
  padding: 10px;
  border: 1px solid var(--darkGray);
  border-radius: 10px;
  background: var(--white);
}

header {
  display: flex;
  justify-content: start;
  width: 17rem;
  padding: 0.5rem;
}

header h4 {
  font-weight: bold;
  color: var(--darkGray);
}

.addItem {
  display: flex;
  align-items: center;
  padding: 7px;
  color: var(--darkGray);
  border-radius: 7px;
  font-size: 0.9em;
}
.addItem i {
  font-size: 0.8em;
}
.addItem p {
  margin-left: 0.2rem;
}

.addItem:hover {
  background: var(--gray);
  cursor: pointer;
}

.task {
  display: flex;
  justify-content: initial;
  padding: 7px;
  margin-bottom: 0.5rem;

  font-size: 0.8em;
  width: 100%;
  min-height: 2rem;
  color: var(--darkGray);
  border: 1px solid var(--gray);
  box-shadow: 0px 0.5px 2px 0px gray;
  border-radius: 7px;

  position: relative;
}

/* div com options for task edit */
.taskOptions {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  max-height: 1.5rem;
  width: 25%;
}

.fa-pen,
.fa-up-down-left-right,
.fa-delete-left {
  display: none;
  opacity: 0;
}

.task:hover .fa-pen,
.task:hover .fa-up-down-left-right,
.task:hover .fa-delete-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--darkGray);
  opacity: 1;
}

.task:hover .fa-pen:hover,
.task:hover .fa-up-down-left-right:hover,
.task:hover .fa-delete-left:hover {
  display: flex;
  justify-content: center;
  color: var(--darkGray);
  background: var(--gray);
  margin: -6px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 7px;
  opacity: 1;
}

.fa-pen:hover,
.fa-up-down-left-right:hover,
.fa-delete-left:hover {
  cursor: pointer;
  top: 0rem;
}

input {
  outline: 0;
  border: 0;
}

.fa-up-down-left-right:hover .moveList {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0.5rem;
  border-radius: 15px;
  background: rgba(20, 20, 20, 0.7);
  border: 1px solid;
}

.moveList .cardList {
  display: flex;
  flex-direction: column;
  color: var(--white);
  padding: 0.5rem;
  flex-wrap: nowrap;
  border-radius: 5px;
}

.cardList:hover {
  background: var(--white);
  color: var(--darkGray);
}
