:root {
  --gray: rgb(231, 231, 231);
  --darkGray: rgb(100, 100, 100);
  --white: rgb(245, 245, 245);
  --purple: rgb(120, 77, 155);
  --orange: rgb(244, 137, 55);
  --red: rgb(235, 46, 74);
  --blue: rgb(38, 171, 226);
  --yellow: rgb(253, 213, 8);
  --green: rgb(31, 177, 91);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: var(--gray);
}

main {
  display: flex;
  min-height: inherit;
  width: 100vw;
  min-width: 100vw;
  max-width: 120vw;
  background: var(--white);
}

.card {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  min-width: calc(100% / 6);
  margin-left: 0.3rem;
  background: var(--gray);
  border-radius: 15px 15px 0 0;
}

.card h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  color: var(--darkGray);
  font-weight: bold;
  min-height: 3rem;
  margin-bottom: 1rem;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 -5px 5px 0 var(--gray);
  text-transform: capitalize;
  position: relative;
}

.card h1 .fa-pen-to-square {
  font-size: 0.7em;
  opacity: 0;
  transition: 0.2s;
  position: absolute;
  right: 2rem;
}

.card h1:hover .fa-pen-to-square {
  opacity: 1;
  cursor: pointer;
}

.cardItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.addItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background: var(--white);
  color: var(--darkGray);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  transition: 0.2s;
}

.addItem:hover {
  cursor: pointer;
  opacity: 0.7;
}

.addItem:active {
  opacity: 0.9;
}

.task {
  width: 90%;
  margin-bottom: 0.5rem;
  background: var(--white);
  border-radius: 7px;
  border: 1px solid var(--blue);
  position: relative;
}

.task h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: 0.25rem;
  background: var(--blue);
  color: var(--white);
  text-transform: capitalize;
  width: 100%;
  border-radius: 3px 3px 0 0;
  position: relative;
}

.task .fa-pen-to-square {
  display: flex;
  opacity: 0;
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 0.7em;
  background: var(--blue);
  color: var(--white);
  padding: 0.2rem;
  border-radius: 50%;
  border: 2px solid var(--white);
  transition: 0.2s;
}

.task:hover .fa-pen-to-square {
  opacity: 1;
  cursor: pointer;
}

.taskContentItem {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}

.taskContentItem p {
  margin-left: 0.25rem;
  font-size: 0.8em;
}
